name: Osibusi NEON Otomatik
# Bu kod sarapcanagii ve primatzeka' ya aittir. İstediginiz gibi kullanabilirsiniz.

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
       token: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
       
    - name: Kodları çek
    uses: actions/checkout@v2

    - name: NeonSpor klasörünü oluştur
    run: mkdir -p NeonSpor

    - name: M3U8 dosyasını oluştur
    run: echo "#EXTM3U" > NeonSpor/NeonSpor.m3u8

    - name: Dosyayı işle
    run: python3 my_script.py
 
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests gitpython
        
    - name: Configure Git
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        
    - name: Run updater script
      run: python stream_updater.py
      env:
        MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
